<h1>Success!</h1>
<button class="sendEthButton btn">Send Eth</button>
<button class="testDecrypt">Test Decrypt</button>
<a href='/'>Back</a>

<script src="/socket.io/socket.io.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../public/minting_process.js"></script>