<h1>Success!</h1>
<button class="sendEthButton btn">Send Eth</button>
<button class="testDecrypt">Test Decrypt</button>
<a href='/'>Back</a>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../public/get_address.js"></script>