<form class="submitFile" id = "uploadFile" enctype = "multipart/form-data" action = "/uploadFile" method = "post">
	<input class="inputFile" type="file" name="userFile" />
	<input class="submitButton" type="submit" value="Upload File" name="submit">
</form>